.container.form {
    min-height: fit-content;
    /* background-color: blue; */
    background-color: #010A28;
    border-radius: 10px;
    padding: 1rem;
}

form .input {
    color: #fff;
}

.wave-group {
    position: relative;
  }
  
  .wave-group .input {
    font-size: 1rem;
    padding: 10px 10px 10px 5px;
    display: block;
    width: 100%;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
  }
  
  .wave-group .input:focus {
    outline: none;
  }
  
  .wave-group .label {
    color: #999;
    font-size: 1.2rem;
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 5px;
    top: 10px;
    display: flex;
  }
  
  .wave-group .label-char {
    transition: 0.2s ease all;
    transition-delay: calc(var(--index) * .05s);
  }
  
  .wave-group .input:focus ~ label .label-char,
  .wave-group .input:valid ~ label .label-char {
    transform: translateY(-20px);
    font-size: 14px;
    color: #5264AE;
  }
  
  .wave-group .bar {
    position: relative;
    display: block;
    width: 100%;
  }
  
  .wave-group .bar:before,.wave-group .bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  
  .wave-group .bar:before {
    left: 50%;
  }
  
  .wave-group .bar:after {
    right: 50%;
  }
  
  .wave-group .input:focus ~ .bar:before,
  .wave-group .input:focus ~ .bar:after {
    width: 50%;
  }
  

  /* Button */
  .sending {
    color: #FFF;
    display: inline-block;
    position: relative;
    font-size: 1rem;
    /* box-sizing: border-box; */
    margin-right: 2rem;
  }
  .sending::after {
    content: '';  
    width: 2px;
    height: 2px;
    background: currentColor;
    position: absolute;
    bottom: 6px;
    right: -5px;
    animation: animloader 1200ms linear infinite;
  }
  
  @keyframes animloader {
    0% {
      box-shadow: 10px 0 rgba(255, 255, 255, 0), 20px 0 rgba(255, 255, 255, 0);
    }
    50% {
      box-shadow: 10px 0 white, 20px 0 rgba(255, 255, 255, 0);
    }
    100% {
      box-shadow: 10px 0 white, 20px 0 white;
    }
  }
  
  .sendingButtons {
    display: grid;
    justify-content: left;
    position: relative;
    height: 3rem;
  }

  .sendingButtons:last-child {
    /* pointer-events: none; */
  }

  .sendingButtons > .button-grid-item {
    position: absolute;
  }

  .button-grid-item.buttonHide {
    animation: slideOutRight 400ms ease-in forwards;
    pointer-events: none;
  }

  @keyframes slideOutRight {
    0% {
      translate: 0 0;
      opacity: 1;
    }
    100% {
      translate: 50px 0;
      opacity: 0;
    }
  }

  .button-grid-item {
    animation: slideInRight 500ms ease-in 100ms;
  }

  @keyframes slideInRight {
    0% {
      translate: -50px 0;
      opacity: 0;
    }
    100% {
      translate: 0 0;
      opacity: 1;
    }
  }