:root {
  font-family: Poppins;
  font-size: 16px;

  /* color-scheme: light dark; */
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  --color-orange: #F64B07;
  --color-blue: #4C9BF6;
  --color-yellow: #F6C207;
}

html {
  scroll-behavior: smooth;
  min-height: 100%;
  /* overflow-x: hidden; */
}

#root {

}

h1, h2, h3, h4, h5, h6 {
  color: var(--Secondary);
  background: #F64B07;
  background: radial-gradient(circle farthest-corner at top left, #F64B07 0%, #DD6332 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: 500;
}

body
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

html,
body
{
    background-color: var(--Dark);
    font-family: 'Poppins';
    font-size: 1rem;
    color: var(--color-text);
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.canva {
  position: absolute;
  top: 0;
  left:0;
  height: 100%;
  width: 100vw;
}

.canvasHtml {
  width: 80vw;
}

html::-webkit-scrollbar {
    display: none;
}

body {
    overflow: hidden;
}

.container {
  min-height: 100vh;
  position: relative;
}

a {
  text-decoration: none;
}

/* poppins-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/fonts/poppins-v20-latin-regular.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/poppins-v20-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/poppins-v20-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/poppins-v20-latin-regular.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-500 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 500;
  src: url('./assets/fonts/poppins-v20-latin-500.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/poppins-v20-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/poppins-v20-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-500.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/poppins-v20-latin-500.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 600;
  src: url('./assets/fonts/poppins-v20-latin-600.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/poppins-v20-latin-600.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/poppins-v20-latin-600.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-600.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-600.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/poppins-v20-latin-600.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 700;
  src: url('./assets/fonts/poppins-v20-latin-700.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/poppins-v20-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/poppins-v20-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-700.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/poppins-v20-latin-700.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-800 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 800;
  src: url('./assets/fonts/poppins-v20-latin-800.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/poppins-v20-latin-800.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/poppins-v20-latin-800.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-800.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-800.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/poppins-v20-latin-800.svg#Poppins') format('svg'); /* Legacy iOS */
}

/* poppins-900 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 900;
  src: url('./assets/fonts/poppins-v20-latin-900.eot'); /* IE9 Compat Modes */
  src: url('./assets/fonts/poppins-v20-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./assets/fonts/poppins-v20-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-900.woff') format('woff'), /* Modern Browsers */
       url('./assets/fonts/poppins-v20-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./assets/fonts/poppins-v20-latin-900.svg#Poppins') format('svg'); /* Legacy iOS */
}
